// MAIN
a {
  text-decoration: none;
  color: #2a2a2a;
}
a:hover {
  text-decoration: none;
  color: #2a2a2a;
}
html {
  margin: 0;
  padding: 0;
  width: 100vw;
}
* {
  box-sizing: border-box;
}
body {
  min-width: 700px;
  padding: 0;
  margin: 0;
  font-family: 'Arial';
  font-size: 16px !important;
  font-weight: normal;
  color: #2a2a2a;
  width: 100vw;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  min-width: 700px;
}
.hide {
  display: none !important;
}
