// MAIN
a {
  text-decoration: none;
  color: #2a2a2a;
}
a:hover {
  text-decoration: none;
  color: #2a2a2a;
}
html {
  margin: 0;
  padding: 0;
  width: 100vw;
}
* {
  box-sizing: border-box;
}
body {
  min-width: 700px;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #2a2a2a;
  width: 100vw;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  min-width: 700px;
}
.hide {
  display: none !important;
}
.content-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  min-height: calc(100vh - 100px);
  min-width: 700px;
  overflow: auto;
  padding-bottom: 100px;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px);
}
.loading-msg {
  width: 100%;
  text-align: center;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  margin-bottom: 24px;
}
.msg {
  width: 100%;
  text-align: center;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  margin-bottom: 30px;
  height: calc(100vh - 100px);
}
